body {
  margin: 20px;
}

#content {
  max-width: fit-content;
}

#main {
  margin-top: 20px;
}

.header-name {
  font-weight: bold;
}

.card.addon {
  align-items: center;
  display: flex;
  overflow: auto;
}

.card.addon label {
  margin-right: 5px;
}

.card.addon input[type=text] {
  width: 350px;
}

#use_export_eml_sub_dir_hint {
  cursor: pointer;
  width: 15px;
}

#eml_dir_button {
  border: 1px solid var(--in-content-box-border-color);
  min-width: 125px;
}