body {
  margin: 20px;
}

#content {
  max-width: fit-content;
}

#main {
  margin-top: 20px;
}

.header-name {
  font-weight: bold;
}

.card.addon {
  display: flex;
  align-items: center;
}

.card.addon label {
  margin-right: 5px;
}

.card.addon input[type=text] {
  min-width: 350px;
}
